@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 100% 14%;
    --foreground: 0 0% 98%;
    --card: 206 100% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 206 100% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 89 100% 44%;
    --primary-foreground: 89 100% 10%;
    --secondary: 180 100% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 100% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 157 25% 61%;
    --accent-foreground: 157 25% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 100% 30%;
    --input: 180 100% 30%;
    --ring: 89 100% 44%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 206 100% 14%;
    --foreground: 0 0% 98%;
    --card: 206 100% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 206 100% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 89 100% 44%;
    --primary-foreground: 89 100% 10%;
    --secondary: 180 100% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 180 100% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 157 25% 61%;
    --accent-foreground: 157 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 100% 30%;
    --input: 180 100% 30%;
    --ring: 89 100% 44%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to bottom right, hsl(206, 100%, 14%), hsl(180, 100%, 25%), hsl(181, 49%, 43%));
    scroll-behavior: smooth;
  }
}
